<main role="main">
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 project-detail-sb">
                    
                    <div>
                        <h2>Links</h2>
                        <div class="sb-link">
                            <a href="#" class="btn btn-primary">Live Demo</a>
                        </div>
                        
                        <div class="sb-link">
                            <a href="#" class="btn btn-secondary">Github</a>
                        </div>
                        
                    </div>
                    <hr>

                    <div>
                        <h2>Tags</h2>
                        <div class="sb-link">
                            
                            <a href="#" class="badge badge-primary">javascript</a>
                            <a href="#" class="badge badge-info">math</a>
                            <a href="#" class="badge badge-danger">random</a>
                            
                        </div>
                    </div>
                   
                    <hr>

                    <div>
                        <h2>Related Projects</h2>
                        
                        <div class="sb-link">
                            <a href="#">js console</a>
                        </div>
                         <div class="sb-link">
                            <a href="#">js console</a>
                        </div>
                         <div class="sb-link">
                            <a href="#">js console</a>
                        </div>
                         <div class="sb-link">
                            <a href="#">js console</a>
                        </div>
                        
                    </div>
                    <hr>

                    <div>
                        <h2>Resources</h2>
                        <div class="sb-link">
                            <a href="#">JS Console</a>
                        </div>
                        <div class="sb-link">
                            <a href="#">JS Console</a>
                        </div>
                        <div class="sb-link">
                            <a href="#">JS Console</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                   <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Projects</a></li>
                        <li class="breadcrumb-item " aria-current="page">number guessing game</li>
                    </ol>
                    </nav>

                    <h2></h2>
                    <p></p>
                    
                </div>
            </div>
        </div>
    </div>
</main>

    